<form action="/add" method="post">
    
    
    <p>Equipamento:</p>

    <input type="text" name="equipamento">
    
    <p>Serviço:</p>

    <textarea name="servico" ></textarea>

    
    <button type="submit">Solicitar</button>
</form>